<?xml version='1.0' encoding='utf-8' ?>
<configuration scan="false">
  <contextName>default</contextName>
  <appender name="RootConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%d{HH:mm:ss} [%p] %m ///%c %t%n%rEx</pattern>
    </encoder>
  </appender>
  <appender name="StatsConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>%m%n</pattern>
    </encoder>
  </appender>
  <root level="info">
    <appender-ref ref="RootConsoleAppender" />
  </root>
  <logger name="org.immutables.bench" level="info" additivity="false">
    <appender-ref ref="StatsConsoleAppender" />
  </logger>
  <logger name="org.immutables.bench.csv" level="error"
    additivity="false">
  </logger>
</configuration>