name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - topic/**

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '17' ]
        compiler: [ 'javac', 'ecj' ]
        extra: [ 'none', 'errorprone' ]
        exclude:
          # java 8 without errorprone has some nullability logic issues
          - java: 8
            extra: none
          # ecj has no support for Java 17 yet
          - java: 17
            compiler: ecj

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}
        cache: maven
    - name: print Java version
      run: java -version
    - name: Run tests
      run: mvn --batch-mode --no-transfer-progress clean test -P${{ matrix.compiler }} -Dextra=${{ matrix.extra }}
